<div class="container">
  <h1 style="text-align: center">Citas Pendientes</h1>

  <div style="margin-top: 15px">
    <button class="submit-btn" (click)="abrirModal()">Cita Rapida</button>
  </div>

  <div
    style="margin-top: 15px"
    *ngFor="let cita of citasPendientes"
    class="card"
    [ngClass]="cita.estado.toLowerCase()"
  >
    <div class="card-header">
      <span class="badge">
        {{ cita.servicio.nomServicio || "" }}
      </span>

      <span class="time">
        {{ formatearHora(cita.horaInicio) }}
      </span>
    </div>

    <h3>
      {{ cita.cliente?.nombre || "Cliente" }}
    </h3>

    <p>
      {{ cita.servicio.infoServicio || "Descripción del servicio" }}
    </p>

    <div class="card-footer">
      <!-- AVATAR -->
      <div class="avatar">
        {{ cita.cliente?.nombre?.charAt(0) || "C" }}
      </div>

      <div class="menu">⋮</div>
    </div>

    <div *ngIf="cita.estado === 'EN_CURSO'" class="status blue">● En curso</div>

    <div *ngIf="cita.estado === 'PROXIMA'" class="priority">● Proxima Cita</div>

    <div *ngIf="cita.estado === 'EN_ESPERA'" class="status yellow">
      ● Esperando confirmación
    </div>
  </div>
</div>

<app-modal
  [isOpen]="isModalOpen"
  title="Nueva cita rápida"
  (close)="cerrarModal()"
>
  <div class="form-group">
    <label>Servicios:</label>

    <div class="servicios-grid">
      <div
        class="servicio-card"
        *ngFor="let s of serviciosListas"
        [class.active]="servicioSeleccionado === s.idServicio"
        (click)="seleccionarServicio(s.idServicio)"
      >
        <h4>{{ s.nomServicio }}</h4>
        <p>{{ s.precio | currency }}</p>
      </div>
    </div>
  </div>

  <div modal-footer>
    <button class="btn btn-primary" (click)="guardarCita()">Guardar</button>
  </div>
</app-modal>
