/* You can add global styles to this file, and also import other style files */
/* 1. Importación de Recursos Externos */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
    --primary: #46608a; --primary-dim: #3a537d; --primary-fixed: #b3cdfe;
    --on-primary: #f8f8ff; --surface: #f9f9fe; --surface-container-high: #e6e8f1;
    --surface-container-low: #f3f3fa; --surface-container: #ecedf6;
    --on-surface: #2f323a; --on-surface-variant: #5c5f68;
    --outline: #777b84; --outline-variant: #afb2bc;
    --tertiary-fixed: #deccfd; --on-secondary-container: #495264;
    --font-headline: 'Manrope', sans-serif; --font-body: 'Inter', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { height: 100%; width: 100%; }

body {
    background-color: var(--surface);
    font-family: var(--font-body);
    color: var(--on-surface);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blobs { position: fixed; inset: 0; z-index: -1; pointer-events: none; }
.blob-1, .blob-2 { position: absolute; border-radius: 50%; filter: blur(80px); }
.blob-1 { top: -10%; right: -5%; width: 40rem; height: 40rem; background-color: var(--primary-fixed); opacity: 0.2; }
.blob-2 { bottom: -5%; left: -10%; width: 35rem; height: 35rem; background-color: var(--tertiary-fixed); opacity: 0.15; }
